@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: 'Space Grotesk', sans-serif;
	font-size: 18px;
}

img {
	width: 100%;
	display: block;
}

:root {
	/* Active input border */--linear-gradient: hsl(249, 99%, 64%), hsl(278, 94%, 30%);
	/* Input errors */--color-red: hsl(0, 100%, 66%);
	--color-white: hsl(0, 0%, 100%);
	--color-light-grayish-violet: hsl(270, 3%, 87%);
	--color-dark-grayish-violet: hsl(279, 6%, 55%);
	--color-very-dark-violet: hsl(278, 68%, 11%);
}