@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: 'Space Grotesk', sans-serif;
	font-size: 18px;
	color: black;
}

img {
	width: 100%;
	display: block;
}

:root {
	/* Active input border */--linear-gradient: hsl(249, 99%, 64%), hsl(278, 94%, 30%);
	/* Input errors */--color-red: hsl(0, 100%, 66%);
	--color-white: hsl(0, 0%, 100%);
	--color-light-grayish-violet: hsl(270, 3%, 87%);
	--color-dark-grayish-violet: hsl(279, 6%, 55%);
	--color-very-dark-violet: hsl(278, 68%, 11%);

}

body {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: flex-start;
	height: 100vh;
	background: url("../images/bg-main-mobile.png");
	background-repeat: no-repeat;
	background-position: top;
	background-size: 100%;
}

.card-front-back {
	position: relative;
	width: 90%;
	height: 65.4vw;
	margin-top: 2rem;
	max-width: 719px;
}

.card-back-wrapper,
.card-front-wrapper {
	position: relative;
	width: 85%;
	container-type: inline-size;
}

.card-back-wrapper {
	top: 0;
	margin: 0 0 0 auto;
}

.card-front-wrapper {
	top: -18.5vw;
}

.card-front-back span {
	position: absolute;
	color: white;
}

.display-logo {
	top: 0;
	top: 10%;
	left: 5%;
}

.display-logo img {
	width: 20cqi;
}

.display-number {
	display: block;
	top: 55%;
	left: 6%;
	font-size: 7.5cqi;
}

.display-name {
	top: 80%;
	left: 6%;
	font-size: 4cqi;
	text-transform: uppercase;
}

.display-expiration {
	right: 6%;
	top: 80%;
	font-size: 4cqi;
}

.display-special {
	font-size: 10px;
	top: 45%;
	right: 12%;
	font-size: 4cqi;
}

form {
	display: grid;
	grid-template-rows: auto auto auto;
	grid-template-columns: auto auto;
	grid-template-areas:
		"cardholder cardholder"
		"cardnumber cardnumber"
		"expMY cvcnumber"
		"confirmbutton confirmbutton";
	width: 90%;
	max-width: 620px;
	margin-top: 3rem;
}

label {
	display: block;
	font-size: clamp(.2rem, 3.5vw, .8rem);
	letter-spacing: .1rem;
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: .5rem;
}

input {
	width: 100%;
	font-size: clamp(.5rem, 5vw, 1.2rem);
	padding: clamp(.2rem, 3vw, .8rem);
	border-radius: .5rem;
	color: black;
	border: 1px solid var(--color-light-grayish-violet);
	margin-bottom: 1rem;
}

input::placeholder {
	color: var(--color-light-grayish-violet);
}

.grid-name {
	grid-area: cardholder;
}

.grid-number {
	grid-area: cardnumber;
}

.grid-exp-MY {
	grid-area: expMY;
}

.grid-exp-MY input {
	width: 45%;
}

.grid-cvcnumber {
	grid-area: cvcnumber;
}

.confirm-button {
	grid-area: confirmbutton;
	cursor: pointer;
	border: none;
	width: 100%;
	height: 3rem;
	background-color: black;
	color: var(--color-light-grayish-violet);
	border-radius: .5rem;
	font-size: 1rem;
	margin-top: 1rem;
}

@media (min-width: 800px) {
	body {
		flex-flow: row nowrap;
		column-gap: 6rem;
		background-image: url("../images/bg-main-desktop.png");
		background-position: left;
		background-size: 50%;
	}
	
	.card-front-back {
		height: 550px;
		margin: 0;
		border: 3px solid orange;
		height: 600px;
	}

	/* USE A GRID */

	.card-back-wrapper {
		top: 80px;
	}

	.card-front-wrapper {
		bottom: 0;
	}
}